#features__section {
  background: $backgroundcolor;
}

#features__container {
  padding-top: var(--size-12);
}

#features__header,
#features__description {
  color: var(--gray-0);
  font-family: $rubikFont, sans-serif;
}

#features__header {
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-fluid-2);
}

#features__description {
  font-weight: var(--font-weight-4);
  font-size: var(--font-size-2);
}

#feature__container {
  padding-bottom: var(--size-13);
}

// 991px or less
@media only screen and (max-width: 991px) {
  #features__header {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-3);
  }
}

// 576px or less
@media only screen and (max-width: 576px) {
  #features__container {
    padding-top: var(--size-11);
  }
}
