#footer__section {
  background-color: rgba(13, 13, 43, 1);
}

#footer__header {
  font-family: $rubikFont;
  font-weight: var(--font-weight-5);
  color: var(--gray-0);
  font-size: var(--font-size-fluid-1);
}

#footer__link {
  font-family: $rubikFont;
  font-weight: var(--font-weight-4);
  color: var(--gray-0);
  font-size: var(--font-size-fluid-0);
  padding-top: var(--size-3);
  margin: 0;
}

#footer__description {
  margin: 0;
  color: var(--gray-0);
  font-family: $rubikFont, sans-serif;
  font-weight: var(--font-weight-4);
}

#bi__footer {
  font-size: var(--font-size-fluid-1);
  color: var(--gray-0);
  padding: 0 var(--size-2);
}

// 992px or more
@media screen and (min-width: 992px) {
  #footer__container {
    padding: var(--size-10) var(--size-11);
  }

  #copyright__container {
    padding-top: var(--size-11);
  }
}
