#footer__section {
  background-color: rgba(13, 13, 43, 1);
}

#footer__brand {
  font-family: $interFont, sans-serif;
  font-size: var(--font-size-fluid-0);
  border-left: 2px $solid var(--gray-0);
  padding-left: var(--size-3);
  font-weight: var(--font-weight-9);
}

#footer__img {
  height: var(--size-7);
}

#footer__header {
  font-family: $rubikFont;
  font-weight: var(--font-weight-5);
  color: var(--gray-0);
  font-size: var(--font-size-fluid-1);
}

#footer__links {
  cursor: pointer;
}

#footer__link {
  font-family: $rubikFont;
  font-weight: var(--font-weight-4);
  color: var(--gray-0);
  font-size: var(--font-size-fluid-0);
  margin: 0;
  padding: var(--size-2) var(--size-2) var(--size-2) var(--size-1);
  border-radius: var(--radius-2);
}

.footer__span {
  padding: var(--size-2) var(--size-2) var(--size-2) var(--size-1);
  border-radius: var(--radius-2);
  transition: all 0.2s ease;
  color: var(--gray-0);
}

.footer__span:hover {
  background-color: var(--gray-0);
  color: $backgroundcolor;
}

#other__projects {
  cursor: pointer;
}

#footer__description,
#footer__description__header {
  margin: 0;
  color: var(--gray-0);
  font-family: $rubikFont, sans-serif;
  font-weight: var(--font-weight-4);
}

#bi__footer {
  font-size: var(--font-size-fluid-1);
  color: var(--gray-0);
  padding: 0 var(--size-2);
}

#copyright__text {
  font-size: var(--font-size-fluid-0);
}

// 992px or more
@media screen and (min-width: 992px) {
  #footer__container {
    padding: var(--size-11) var(--size-11) var(--size-5) var(--size-11);
  }

  #copyright__container {
    padding-top: var(--size-11);
  }
}

// 992px or less
@media screen and (max-width: 992px) {
  #footer__img {
    height: var(--size-5);
  }
}

// 768px less
@media screen and (max-width: 768px) {
  #footer__container {
    padding: var(--size-8) var(--size-7) var(--size-3) var(--size-7);
  }
}

// 576px or more
@media screen and (min-width: 576px) {
  #footer__container {
    padding: var(--size-10) var(--size-8) var(--size-5) var(--size-8);
  }

  #footer__description__576 {
    display: none;
  }
}
// 576px or less
@media screen and (max-width: 576px) {
  #footer__description__header {
    display: none;
  }

  #footer__description__576 {
    margin: 0;
    color: var(--gray-0);
    font-family: $rubikFont, sans-serif;
    font-weight: var(--font-weight-4);
  }
}
