#content__section {
  background: $contentbackground;
  height: 100vh;
}
#search__container {
  background-color: var(--gray-0);
  border-radius: var(--radius-4);
  padding: var(--size-10) var(--size-8) var(--size-5) var(--size-8);
}

#search__container > input {
  margin: var(--size-2);
  margin-right: var(--size-10);
}

#searchbar__header {
  font-family: $rubikFont;
  font-weight: var(--font-weight-4);
  color: var(--gray-9);
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
}

#search__btn {
  background-color: var(--indigo-6);
  color: var(--gray-0);
  font-family: $rubikFont;
  border-radius: var(--radius-4);
  padding: var(--size-3) var(--size-8);
  border: none !important;
}

#top__crypto__header {
  font-family: $rubikFont;
  font-weight: var(--font-weight-5);
  color: var(--indigo-6);
}
