#content__section {
  background: $contentbackground;
}
#search__container {
  background-color: var(--gray-0);
  border-radius: var(--radius-4);
  padding: var(--size-fluid-4) var(--size-fluid-3) var(--size-fluid-3)
    var(--size-fluid-3);
  transform: translateY(-10vh);
}
#network__header,
#search__btn,
#top__crypto__header,
#top__container {
  font-family: $rubikFont;
}

#search__btn,
#top__crypto__header,
#top__container,
#fa-brands {
  color: var(--gray-0);
}

#btn__network,
#crypto__price,
#crypto__price {
  font-size: var(--font-size-fluid-1);
}

#btn__network {
  font-family: $poppinsFont, sans-serif;
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-1);
  border: 1px solid black;
  text-transform: capitalize;
}
// .btn_padding {
//   padding: var(--size-4) var(--size-fluid-2);
// }

#select__text {
  padding: var(--size-3) var(--size-1);
}

#search__btn {
  background-color: var(--indigo-6);
  border-radius: var(--radius-3);
  padding: var(--size-4) var(--size-fluid-3);
  border: none !important;
}

#top__crypto__header {
  font-weight: var(--font-weight-5);
}

#top__crypto__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#top__container {
  background: var(--gray-0);
  border-radius: var(--radius-4);
  transition: all 0.3s ease;
  text-align: center;
}

#crypto__price {
  color: var(--gray-9);
  font-weight: var(--font-weight-7);
}

#network__logo {
  border-radius: var(--radius-round);
}

#crypto__header {
  color: var(--gray-9);
  font-weight: var(--font-weight-7);
}

#crypto__acronym {
  color: var(--gray-5);
  text-transform: uppercase;
}

#cryptotext__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#top__crypto__description {
  color: var(--gray-7);
}
#top__brand {
  margin: var(--size-3) 0;
  height: var(--size-fluid-6);
  width: var(--size-fluid-6);
  border: 2px solid var(--gray-0);
  border-radius: var(--radius-round);
  background: var(--gray-0);
}

#select__network {
  text-transform: capitalize;
}

#card__header {
  font-family: $poppinsFont, sans-serif;
  border-radius: var(--radius-2);
  padding: var(--size-2) var(--size-1);
  text-transform: capitalize;
}

#network__logo {
  height: var(--size-fluid-3);
  width: var(--size-fluid-3);
  margin-right: var(--size-2);
  border: 1px solid var(--gray-4);
}

@media screen and (min-width: 768px) {
  #top__container:hover,
  #card__header:hover {
    background-color: $cryptobackground;
    color: var(--gray-0);
    transition: all 0.3s ease;

    #crypto__price,
    #crypto__header,
    #top__crypto__description {
      color: var(--gray-0);
    }
  }
}

@media screen and (max-width: 768px) {
  #card__header {
    display: grid;
    grid-template-columns: 2fr 3fr;
    text-align: start;
    align-items: center;

    #network__logo {
      justify-self: end;
    }
  }
}

@media screen and (max-width: 992px) {
  #top__crypto__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 576px) {
  #top__crypto__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
