$backgroundcolor: rgb(13, 13, 71);
$rubikFont: "Rubik";
$interFont: "Inter";
$solid: solid;
$whitelow: rgba(255, 255, 255, 0.1);
$contentbackground: linear-gradient(180deg, #ebebeb 0%, #d8d8d8 100%);
$bitcoincolor: rgba(249, 170, 75, 1);
$cryptobackground: #2b076e;
$poppinsFont: "Poppins";
